[submodule "External/Microsoft/DirectX-Headers"]
	path = External/Microsoft/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "External/Microsoft/vswhere"]
	path = External/Microsoft/vswhere
	url = https://github.com/microsoft/vswhere.git
