[submodule "External/Microsoft/DirectX-Headers"]
	path = External/Microsoft/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "External/masyos/xxhash_cx"]
	path = External/masyos/xxhash_cx
	url = https://github.com/masyos/xxhash_cx.git
[submodule "External/ocornut/imgui"]
	path = External/ocornut/imgui
	url = https://github.com/ocornut/imgui.git
